[secrets]
wifi_ssid = YourWiFiName
wifi_pass = YourWiFiPassword


; --- 新增 MQTT ---
mqtt_server = broker.emqx.io  ; 示例：公共服务器
mqtt_port = 1883
mqtt_user = your_user         ; 如果没有可留空
mqtt_pass = your_pass         ; 如果没有可留空

; cmd 用于接收指令 (start, on), unique_id为最好生成唯一id
mqtt_topic_cmd = unique_id/watering/cmd
; status 用于发送状态 (Done, Online)
mqtt_topic_status = unique_id/watering/status