[secrets]
wifi_ssid = YourWiFiName
wifi_pass = YourWiFiPassword


; --- 新增 MQTT ---
mqtt_server = broker.emqx.io  ; 示例：公共服务器
mqtt_port = 1883
mqtt_user = your_user         ; 如果没有可留空
mqtt_pass = your_pass         ; 如果没有可留空

; cmd 用于接收指令 (start, on), unique_id为最好生成唯一id
mqtt_topic_cmd = unique_id/watering/cmd
; status 用于发送状态 (Done, Online)
mqtt_topic_status = unique_id/watering/status


;  系统配置
system_enable_nvs = 1 ; 是否启用 NVS 持久化 (1启用，0禁用)
system_manual_test = 0 ; 是否启用手动测试模式 (1启用，0禁用), 开启后会忽略定时浇水，进行快速测试（delay 10s），除start_hour,start_minute外其他参数仍然生效

;  浇水系统配置
system_watering_pin = 4 ; 浇水控制引脚 (GPIO 4)
system_watering_duration = 38 ; 浇水时长，单位秒 (38秒)
system_watering_count = 14 ; 总浇水次数 (14次)
system_watering_interval_days = 3 ; 浇水间隔，单位天 (3天)
system_watering_start_hour = 2 ; 每天几点开始浇水 (2点)
system_watering_start_minute = 0 ; 每小时多少分开始浇水 (0分)